<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internshala | Summer Internship 2021</title>
    <link rel="icon" type="image/png" href="https://internshala.com/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Index</title>
<style>
    section{
        font-family: "Inter var", sans-serif;
    }
    #internships_list_container{
        padding: 48px 16px 16px 16px;
        border: 1px solid #ccc;
    }
    .max-width-container{
        max-width: 1224px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgb(226, 226, 226);
    }
    #reference{
        max-width: 956px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding-bottom: 40px;
        margin-top: 24px;
    }
    .reference1{
        max-width: 956px;
        margin-left: 24px;
       display:flex;
       height: auto;
       text-align: center;
    }
    .reference11{
    width: 316px;
    height: auto;
    }

    .reference12{
    flex: 1;
    max-width: 616px;
    margin-left: 24px;
    display:flex;
    flex-direction: column;
    }
    #total-internships{
        padding-top: 10px;
        font-size: 18px;
        line-height: 1.33333333;
        font-weight: 600;
    }

    .fixed_on_scroll{
        width: 316px;
        position: relative;
       top: 0;
       height:auto;
    }
    #filters{
    overflow: auto;
    border: 1px solid #EEE;
    width: 316px;
    overflow-y: auto;
    border-radius: 6px;
    padding: 23px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:70vh;
    overflow-y: auto;
    }

    #list_container{
    flex: 1;
    max-width: 616px;
    margin-left: 24px;
    display:flex;
    flex-direction: column;
    height: 75vh;
    overflow-y: auto;
    }
    #list_container::-webkit-scrollbar {
        display: none;
    }
    *, ::after, ::before {
    box-sizing: border-box;
    }
    .list_container1{
        letter-spacing: 1px;
        background: #fff;
        padding: 23px;
        margin-bottom: 24px;
        border: 1px solid #EEE;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
        border-radius: 6px;
    }
    .individual_internship_header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    .company_1{
    font-size: 18px;
    line-height: 1.33333333;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 2px;
    }
    .company_2{
    font-size: 14px;
    line-height: 1.33333333;
    font-weight: 600;
    margin-bottom: 8px;
    opacity: .8;
    letter-spacing: 2px;
    }
    .internship_logo{
        margin-left: 16px;
    }
     
    .internship_logo img{
    max-width: 104px;
    max-height: 48px;
    color: transparent;
    }
    .individual_internship_details{
        margin-bottom: 8px;
        box-sizing: border-box;
    }
    #location_names{
    line-height: 16px;
    display: flex;
    margin-bottom: 24px;
    }
    #location_names span {
        display: inline-block;
        width:5%;
        opacity: .8;
        text-align: center;
    }
    .internship_other_details_container{
        display: flex;
        justify-content:space-between;
    }
    .button_container{
        display: flex;
        justify-content:space-between;
    }
    .button_container11{
        display: flex;
    }
    
    .button_container1{
    padding: 6px 12px;
    background: #F8F8F8;
    border-radius: 14px;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    margin-right: 8px;
    }
    .button_container2{
        color: #006BC2;
        cursor: pointer;
    }
    .clear_searchBtn{
        outline:none;
        height: 30px;
        letter-spacing: 1px;
        padding:2px;
        cursor: pointer;
    }

</style>
</head>
<body>
    <!-- Navbar  -->
    <div id="navBar">

    </div>
    <nav>
        
    </nav>
    <!-- login Modal Pop-up-->
    <div id="login_modal_popup">

    </div>
<section id="internships_list_container">

    <div class="max-width-container">

        <div class="reference1">

            <div class="reference11"></div>
            
            <div class="reference12">
                <div id="total-internships"></div>
            </div>

        </div>
        
        <div id="reference">
            
            <!-- Filter -->
            <div class="fixed_on_scroll">

                <div id="filters">
                    
                    <label class="switch">Include work from home also
                        <input type="checkbox" id="messageCheckbox" value="Yes" onclick="onChecked()">
                        <span class="slider round"></span>
                    </label><br>
                      
                    <label class="switch">Part-time
                        <input type="checkbox" id="messageCheckbox" value="parttime" onclick="onChecked()">
                        <span class="slider round"></span>
                    </label><br>
            
                    Desired minimum monthly stipend (₹)
                    <input type="range" min="0" max="10000" step="2000" id="myRange" value="0" oninput="onChecked()"><br>
            
                    <label class="switch">Internships for women
                        <input type="checkbox" id="messageCheckbox" >
                        <span class="slider round"></span>
                    </label><br>
                      
                    <label class="switch">Internships with job offer
                        <input type="checkbox" id="messageCheckbox" value="Internship with job offer" onclick="onChecked()">
                        <span class="slider round"></span>
                    </label><br>
                    
                    <button type="button" onclick="clearFilter()" class="clear_searchBtn">Clear all</button><br>
            
                    <input type="text" id="search_id" placeholder="e.g. Design, Mumbai, infosys" class="clear_searchBtn"><br>
                    <button onclick="searchProducts()" class="clear_searchBtn">Search</button>

                </div>

            </div>

             <!-- List -->
            <div id="list_container">

                <div id="list_container1">

                    <% products.forEach( product => { %>
                        
                        <div class="list_container1">
                            <div class="individual_internship_header">
                                <div class="company">
                                    <div class="company_1"></div>
                                    <div class="company_2" style="font-size: 14px;"><%= product.role%></div>
                                </div>
                                <div class="internship_logo">
                                    <img src = <%= product.company_icon %> >
                                </div>
                            </div>

                            <div class="individual_internship_details">
                                <div id="location_names">
                                    <span><i class="material-icons">add_location</i></span>

                                        <%  if(product.work_form_home === "Yes"){ %>
                                            <p style="opacity:0.8;"> Work From Home</p>
                                        <% } else { %>
                                            <span> <%= product.location %>  </span>
                                        <% } %>
                                </div>
                                <div class="internship_other_details_container">
                                    <div class="">
                                        <p><i></i>START DATE</p>
                                        <p><%= product.startDate %></p>
                                    </div>
                                    <div class="">
                                        <p><i></i>DURATION</p>
                                        <p><%= product.duration %> Months</p>
                                    </div>
                                    <div class="">
                                        <p><i></i>STIPEND</p>
                                        <p>&#8377; <%= product.stipend%> /month</p>
                                    </div>
                                    <div class="">
                                        <p><i></i>APPLY BY</p>
                                        <p><%= product.applyby%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="button_container" >
                
                                <div class="button_container11">
                                    <% for( let i = 0; i < product.job_type.length; i++ ) { %>
                                        <div class='button_container1'>
                                            <%= product.job_type[i] %>
                                        </div>
                                    <% } %>
                                </div>
                                
                                <a class="button_container2" href=/internships/<%= product._id %> >View details</a>
                            </div>
                            </div>
                        
                    <% }) %>

                </div>

            </div>

        </div>

    </div>
</section>

<!-- Footer -->
<div id="footer"></div>

</body>
</html>

<script src="/js/navbar.js"></script>
<script src="/js/login_modal.js"></script>
<script src="/js/login.js"></script>
<script src="/js/footer.js"></script>

<script src="/js/testing.js"></script>


<script type="module">
    // nav-bar modal
    document.getElementsByTagName('nav')[0].innerHTML =  navbar();
    document.getElementById('navBar').addEventListener('click', hidehuberberg);
    document.getElementById('huberbergMenu').addEventListener('click', showHuberberg);

    function showHuberberg(){
        document.getElementById('navBar').innerHTML =  huberberg();
        document.getElementsByTagName('body')[0].setAttribute('id', 'fixedBody');
    }

    function hidehuberberg(){
        document.getElementById('navBar').innerHTML = null;
        document.getElementsByTagName('body')[0].removeAttribute('id', 'fixedBody');
    }

    // login modal
    document.getElementById("logIn_button").onclick = () => {
        document.getElementById('login_modal_popup').style.display = "block";
        document.getElementById('login_modal_popup').innerHTML = loginModal();
        document.getElementsByTagName('body')[0].setAttribute('id', 'fixedBody');
        // core
        core();
    }
    // footer modal
    let foot = document.getElementById("footer");
    foot.innerHTML = footer();
    // register as student page change
    document.getElementById("register_as_student").onclick = () => {
        window.location.href = "../pages/register_student.html";
    }
    // register as employer page change
    document.getElementById("register_as_employer").onclick = () => {
        window.location.href = "../pages/register_employer.html";
    }
    // return to homepage onclick brand logo
    document.getElementById("intershalaLogo").onclick = () => {
        window.location.href = "../homepage.html";
    }

</script>


